<div class = "heroes">
		<br>
	<button (click)="onNew()">new</button>
	<br>
	<h2> Blog List </h2>
	<br>
	<ul class="blogs">
		<li *ngFor="let post of this.blogService.posts"
			[class.selected]="post===selectedPost"
			(click)="onSelect(post)" class="badge">
			<div>{{post.created|date:"medium"}}</div>
			<div> {{post.title}}</div>

		</li>
	</ul>


	<div *ngIf="messages.length">
		<h2> debugging info </h2>
		<ul>
			<li *ngFor="let message of messages">
				<span> {{message}} </span>
			</li>
		</ul> 
	</div>